<div>
  <div class="example-container">
    <div class="logo-color">
      <div>
        <h1 class="logo-text"> LOGO </h1>
      </div>
    </div>
    <div class="logotwo">
      <div class="flex-add"></div>
      <div class="flex-time"></div>
      <div class="search-box">
        <div class="search-icon"></div>
      </div>
      <div>
        <div class="ring-icon">
        </div>
        <div class="ring-box">
          <div class="gray"></div>
          <div class="abc"></div>
          <div class="arrow"></div>
        </div>
        <div class="settings-icon">
        </div>
        <div class="father-menu">

        </div>
      </div>
    </div>
  </div>
</div>